.spb-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spb-header-3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    white-space: nowrap;
}

#spb-root {
    height: 100vh;
    width: 50px;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: unset;
    z-index: 100;
}

.spb-tab-bar {
    overflow: hidden;
}

.spb-tab-bar:hover {
    overflow-y: auto;
}

.spb-theme-dark {
    --main-bg-color: #3a4048;
    --secondary-bg-color: #323940;
    --main-txt-color: #eef0f2;
    --active-tab-bg-color: #009c66;
}