.spb-bot {
    display: flex;
    flex-direction: column;
    width: 365px;
}

.spb-bot__options {
    padding-bottom: 8px;
}

.spb-bot__option {
    width: 185px;
    font-size: 16px;
    padding: 4px;
}

.spb-bot__option-desc {
    display: block;
    padding-bottom: 8px;
}