.spb-sale-guard {
    width: 70vw;
    min-width: 700px;
    max-width: 1000px;
}

.spb-sale-guard__items-header {
    display: flex;
}

.spb-sale-guard__items {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.spb-sale-guard__item {
    height: 60px;
    width: 100%;
}

.spb-sale-guard__item-row {
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    font-weight: 100;
    font-size: 14px;
}

.spb-sale-guard__item-col {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 4px;
}

.spb-sale-guard__item-name {
    width: 100%;
}

.spb-sale-guard__item-name a {
    color: inherit;
}

.spb-sale-guard__item-price {
    min-width: 150px;
}

.spb-sale-guard__item-price sup {
    vertical-align: sub;
    font-size: 1em;
    color: var(--alt-text-color);
}

.spb-sale-guard__item-min-price {
    min-width: 140px;
}

.spb-sale-guard__item-update {
    min-width: 150px;
}

.spb-sale-guard__item-min-price > .spb-input, .spb-sale-guard__item-update > .spb-button {
    width: 70%;
}