.spb-settings {
    display: flex;
    flex-direction: column;
    width: 365px;
}

.spb-settings__option {
    width: 100%;
    padding: 4px;
}

.spb-settings__option-row {
    justify-content: space-between;
    font-size: 14px;
    padding: 0px 4px;
}

.spb-settings__save-btn {
    margin-top: 4px;
}