.spb-tab {
    height: 50px;
    width: 50px;
    padding: 5px;
    position: relative;
    color: var(--main-txt-color);
}

.spb-tab-btn {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--main-bg-color);
}

.spb-tab:hover .spb-tab-btn{
    background-color: var(--active-tab-bg-color);
}

.spb-tab-btn--bound {
    background-color: var(--active-tab-bg-color);
}

.spb-tab-window {
    position: fixed;
    padding: 10px;
    min-height: 40px;
    min-width: 40px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
}

.spb-tab-close {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/img/close.svg');
    right: 2px;
}

.spb-status-idle {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/img/idle.svg');
    left: 2px;
}

.spb-status-ok {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/img/ok.svg');
    left: 2px;
}

.spb-tab-ico {
    position: absolute;
    height: 12px;
    width: 12px;
    top: 2px;
}

.spb-active {
    left: 50px;
}

.spb-hidden {
    left: -1200px;
}