.spb-tab {
    height: 50px;
    width: 50px;
    padding: 5px;
    position: relative;
}

.spb-tab-btn {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: lightgray;
}

.spb-tab-window {
    position: fixed;
    padding: 10px;
    min-height: 40px;
    min-width: 40px;
    border-radius: 10px;
    background-color: lightgray;
}

.spb-tab-close {
    position: absolute;
    height: 12px;
    width: 12px;
    background: red;
    right: 0px;
    top: 0px;
    border-radius: 100%;
}

.spb-active {
    left: 50px;
}

.spb-hidden {
    left: -1000px;
}